<div class="container  text-center mt-5 p-4">

	<div class="row mb-3 row1">
		<div class="col-10">
			<h1>Welcome to todoApp </h1>
		</div>
		<div class="col-2 p-3" (click)="logout()">
			Logout
		</div>
	</div>

	<div class="row ">
		<div class="col">
			<!-- Modal -->
			<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
				aria-labelledby="exampleModalCenterTitle" aria-hidden="true" [ngClass]="{'show':showModal}">
				<div class="modal-dialog modal-dialog-centered" role="document">
					<div class="modal-content ">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
							<button type="button" class="close" (click)="showModal=false" data-dismiss="modal"
								aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<form (ngSubmit)="addTodo()">


								<div class="form-group row m-1">
									<div class="col-3 flex-row">

										<label for="title">Title</label>
									</div>
									<div class="col-8 ">

										<input type="text" [(ngModel)]="title" class="form-control" id="title"
											aria-describedby="emailHelp" placeholder="Enter Task" name="title">
									</div>
								</div>
								<div class="form-group row m-1">
									<div class="col-3 flex-row">
										<label for="desc">Description</label>
									</div>
									<div class="col-8">
										<input type="text" [(ngModel)]="desc" class="form-control" name="desc" id="desc"
											placeholder="description for todo">
									</div>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary" data-dismiss="modal"
										(click)="showModal=false">Close</button>
									<button type="submit" class="btn btn-primary">Submit</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
			<!-- Button trigger modal -->
			<button type="button" class="btn btn-primary" (click)="showModal=true" data-toggle="modal"
				data-target="#exampleModalCenter">
				+Add Todo's
			</button>
		</div>


	</div>
	<div class="row" cdkDropListGroup>
		<div class="col">
			<app-todo-add [todoArr]="todo"></app-todo-add>
		</div>

		<div class="col">
			<app-todo-in-progress></app-todo-in-progress>
		</div>
		<div class="col">
			<app-todo-completed></app-todo-completed>
		</div>
	</div>
</div>