<h3 class="m-2">Completed </h3>
<div class="container-fluid custromization  mt-1 p-2">
    <div class="drop-area" cdkDropList [cdkDropListData]="message" (cdkDropListDropped)="drop($event)">
        <div *ngFor="let msg of message | paginate:{
        itemsPerPage:+pageSize,
        currentPage:page,totalItems: count
        
    };" class="p-2 TodoContent ">
            <div *ngIf="msg != ''">
                <div class="row Add">
                    <div class="col-1">
                        <input type="checkbox" checked>
                    </div>
                    <div class="col-10 d-flex flex-row">
                        {{msg.title}}
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="row ">
        <div class="col-9 ">
            <pagination-controls class="pagination" previousLabel="prev" nextLabel="NEXT" (pageChange)="onPageChange($event)">
            </pagination-controls>
        </div>
        <div class="col-1">
            <select (change)="onPageSizeChange($event)">
                <option *ngFor="let size of pageSizes">
                    {{ size }}
                </option>
            </select>
        </div>
    </div>
</div>