.TodoContent:nth-child(odd) {
    background-color: white;
    color: black;
}
.TodoContent{
    background-color: lightgray;
    color: black;
}
.container{
    background-color: white;
}
.custromization{
    background-color: white;
    border-right: 2px solid black;
    box-shadow: 3px;
}
.Add:hover{
    cursor: pointer;
}