<h3 class="m-2">Todo's </h3>
<div class="container-fluid custromization  mt-1 p-2">
    <!-- </form>   -->
    <div cdkDropList [cdkDropListData]="todoArr" (cdkDropListDropped)="drop($event)">
        <div *ngFor="let todo of todoArr;let i = index " class="p-2 TodoContent" cdkDrag>
            <div class="row Add" >

                 <div class="col-9 d-flex flex-row" > 
                <input class="checkbox" (click)="change(i)" type="checkbox">
                <label for="checkbox"> {{todo.title}} </label>
                </div>

                <!-- <div class="col-9 d-flex flex-row">
                  <h6>{{todo.title}}</h6>
                  
                  <p style="text-overflow: ellipse;">{{todo.desc}}</p>
                </div>  -->
                 <div class=" col-1">
                    <app-todo-modal></app-todo-modal>

                </div> 
            </div>
            <div class="row Add">
                <div class="col-9 d-flex d-flex-row">

                    {{todo.desc}}
                </div>
            </div>
        </div>
    </div>
</div>