<div class="container">

	<!-- <app-back-btn class="m-4 p-2"></app-back-btn> -->

	<div class="container my-5 childContainer p-5">

		<form [formGroup]="userDetails">

			<div class="form-group  row">
				<div id="errormsg"> This Email Id Is Alredy registered Try To Login Or Register With
					Another Email Id
				</div>
				<div class="col-3 m-1 p-2">
					<label for="inputEmail4">Name*</label>
				</div>
				<div class="col-8 m-1">
					<input type="text" class="form-control" formControlName="Name" id="inputName" placeholder="Name">
				</div>
			</div>

			<div class="form-group  row">
				<div class="col-3 m-1 p-2">
					<label for="Email">Email*</label>
				</div>
				<div class="col-8 m-1">
					<input type="email" 
						class="form-control" formControlName="email" id="Email" placeholder="Email" name="Email">
					
					<span class="my-1"
					 *ngIf="userDetails.controls['email'].invalid  
					 && userDetails.controls['email'].touched">
					  Enter Valid Email Id
					</span>
				</div>
			</div>

			<div class="form-group  row">
				<div class="col-3 m-1 p-2">
					<label for="inputPassword4">Password*</label>
				</div>
				<div class="col-8 m-1">
					<input type="password" class="form-control" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" 
					formControlName="password" id="inputPassword4" name="inputPasswords"
						placeholder="Password">
					<span class="my-1" 
					*ngIf="userDetails.controls['password'].dirty
					 && userDetails.controls['password'].invalid "> 
					 Password Should Be Min 8 char Long And Contains 1Upper case 1 Lower Case and
					 1 special Char  </span>

				</div>
			</div>

			<div class="row" >
				<div class="col-4 mx-auto my-2">
					<button type="submit" [disabled]="!userDetails.valid" class="btn btn-primary" (click)="goToLogin()">Register</button>
					<p class="login mt-1" (click)="goToLoginDirect()">Or Login</p>
				</div>
			</div>

		</form>

	</div>
</div>