
    <div class="container custromization text-center mt-5 align-self-center">
        <div class="row">
            <h1>Welcome To Todo's App</h1>
            
            <button class="btn btn-secondary rounded-pill mx-auto mt-2 Register p-3" (click)="clickToRegister('register')" >
                Register
            </button>
            <button class="btn btn-secondary rounded-pill mx-auto mt-2 login p-3" (click)="clickToRegister('login')">
                Login
            </button>
        </div>
    </div>
