body{
   background-color: rgb(228, 193, 193);
   /* background-image: url(../src/assets/bg.jpeg);
   height: 100%;
   background-position: center; 
   background-repeat: repeat; 
   background-size: cover; */
}

